.logodark h2 {
  margin: 0;
  font-size: 20px; /* Tăng kích thước phông chữ */
  font-weight: 700; /* Tăng độ đậm chữ */
  text-transform: uppercase; /* Viết hoa tất cả các chữ */
  white-space: nowrap; /* Ngăn chữ rớt dòng */
  color: #11142d;
  font-family: 'Arial Black', sans-serif; /* Phông chữ */
}

.logodark {
  text-decoration: none; /* Loại bỏ gạch chân */
}
