<div class="login-box">
  <div class="login-box__container">
    <h3 class="login-box__title btn-primary">Đăng Nhập</h3>
    <form>
      <div class="login-box__form-group mb-3">
        <label class="login-box__label form-label">Email</label>
        <input
          type="email"
          class="login-box__input form-control"
          [(ngModel)]="email"
          name="email"
          placeholder="Nhập email"
        />
      </div>
      <div class="login-box__form-group mb-3">
        <label class="login-box__label form-label">Mật khẩu</label>
        <input
          type="password"
          class="login-box__input form-control"
          [(ngModel)]="password"
          name="password"
          placeholder="Nhập mật khẩu"
        />
      </div>
      <button class="login-box__button btn btn-primary w-100" type="submit">Đăng nhập</button>
    </form>
    <div class="login-box__footer text-center mt-3">
      <small>Chưa có tài khoản?
      </small>
      <a routerLink="/register" class="login-box__link text-primary text-decoration-none">Đăng ký</a>
    </div>
  </div>
</div>
