<div class="row">
  <div class="col-sm-6 col-lg-3">
    <mat-card class="cardWithShadow overflow-hidden">
      <div class="p-24 p-t-12 position-relative">
        <h4 class="f-s-16 m-b-4">📦 Tổng số sách</h4>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="f-s-16 f-w-600">100</h6>
          <span><i-tabler name="package" class="icon-30"></i-tabler></span>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <mat-card class="cardWithShadow overflow-hidden">
      <div class="p-24 p-t-12 position-relative">
        <h4 class="f-s-16 m-b-4">🛒 Tổng số đơn hàng</h4>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="f-s-16 f-w-600">50</h6>
          <span><i-tabler name="shopping-cart" class="icon-30"></i-tabler></span>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <mat-card class="cardWithShadow overflow-hidden">
      <div class="p-24 p-t-12 position-relative">
        <h4 class="f-s-16 m-b-4">🧑‍🤝‍🧑 Tổng số khách hàng</h4>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="f-s-16 f-w-600">30</h6>
          <span><i-tabler name="users" class="icon-30"></i-tabler></span>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-6 col-lg-3">
    <mat-card class="cardWithShadow overflow-hidden">
      <div class="p-24 p-t-12 position-relative">
        <h4 class="f-s-16 m-b-4">💰 Tổng doanh thu</h4>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="f-s-16 f-w-600">$5000</h6>
          <span><i-tabler name="coin" class="icon-30"></i-tabler></span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
