<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Quản lý bài viết</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Tiêu Đề</th>
          <th>Danh Mục</th>
          <th class="text-center">Hành Động</th>
        </tr>
        </thead>
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.category }}</td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm me-2" [routerLink]="['/ui-components/posts/edit', post.id]">
              Sửa
            </button>
            <button class="btn btn-danger btn-sm" (click)="deletePost(post.id)">Xóa</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
